

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    background-color: white;
    box-shadow: 0 3px 3px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
    min-width: 0;
    word-wrap: break-word;
    border-radius: 1.5rem;
    width: 75rem;
    padding: 2rem 0;
    margin-bottom: 10px;
    margin-right: 10px;
    max-height: 100%;

}

.components {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    font-size: 12px;
    justify-content: end;
    margin-bottom: 30px;
}

.components_1 {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.components_2 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.indexQuality {
    display: flex;
    justify-content: start;
    font-size: 45px;
    flex: 1;
    padding-left: 9px;
}

.header {
    text-align: center;
}

.city {
    margin-left: 160px;
}

.weekdayName {
    text-align: start;
    padding-left: 35px;
    font-size: 26px;
}

.pollutions {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: start;
}

.iconStatus {
    height: 107px;
    object-fit: cover;
    margin-left: 30px;
    margin-top: 20px
}

.iconPollution {
    height: 38px;
    object-fit: cover;
}

.statusName {
    margin-left: 15px;
}

.iconRecommendation {
    height: 64px;
    object-fit: cover;

}

.recommendation {
    margin-left: 10px;
}

.recommendationText {
    font-size: 18px;
}

.blockRecommendation {
    display: flex;
    flex-direction: row;

}

.blocksRecommendations {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.component {
    display: flex;
}

.concentration {
    margin-top: 12px;
    margin-left: 10px;
}

.inputDiv {
    display: flex;
    justify-content: center;
}

.input {
    background-color: lavender;
    border: none;
    border-radius: 0.4rem;
    color: black;
    height: 2rem;
    outline: 0;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 20rem;
}


.infoStatus {
    display: flex;
}

.info {
    margin-left: auto;
}

.infoIcon {
    margin-top: 10px;
}

.faq {
    text-align: center;
    font-size: 30px;
}

.faqComponent {
    font-family: sans-serif;
    text-align: center;
}

.question-section {
    background: transparent;
    border: none;
    border-radius: 8px;
    width: 80vw;
}

.questionDiv {
    align-items: center;
    display: flex;
    min-height: 10px;
    text-align: left;
    margin-left: 6px;
}

.question-align h4 {
    margin-left: 8px;
}

.question {
    font-size: 20px;
    width: 100%;
}

.question-icon {
    background: none;
    border: none;
    color: #1b6aae;
    cursor: pointer;
    font-size: 22px;
    margin-left: auto;
    margin-right: 8px;

}

.rotate {
    transform: rotate(45deg);
}

.answer-divider {
    border-top: 1px solid lightgray;
}

.answer {
    margin-left: 8px;
    margin-right: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
}


.answerStyle {
    font-size: 17px;
}


.footer {
    background-color: darkgray;
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

.components_1_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.descriptionDiv {
    flex: 1;
    display: flex;
    align-self: center;
}

.recommendationDiv {
    flex: 1;
    display: flex;
    align-self: center;
}